<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hx100.levi.customviewapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CutomView1Activity"></activity>
        <activity android:name=".activity.CutomView2Activity"></activity>
        <activity android:name=".activity.CutomView3Activity"></activity>
        <activity android:name=".activity.CutomView4Activity"></activity>
        <activity android:name=".activity.CutomView5Activity"></activity>
        <activity android:name=".activity.CutomView6Activity"></activity>
        <activity android:name=".activity.CutomView7Activity"></activity>
        <activity android:name=".activity.CutomView8Activity"></activity>
        <activity android:name=".activity.CutomView9Activity"></activity>
        <activity android:name=".activity.ScrollingActivity"></activity>
        <activity android:name=".itemtouchhelperdemo.demochannel.ChannelActivity"></activity>
        <activity android:name=".itemtouchhelperdemo.demodrag.DragActivity"></activity>
        <activity android:name=".itemtouchhelperdemo.ItemTouchHelperDemoActivity"></activity>
        <activity
            android:name=".dragphotoviewdemo.DragPhotoActivity"
            android:theme="@style/translucent"></activity>
        <activity android:name=".dragphotoviewdemo.DragPhotoDemoActivity"></activity>
        <activity
            android:name=".dragphotodemo.DragPhotoActivity2"
            android:theme="@style/translucent"></activity>
        <activity android:name=".dragphotodemo.DragPhotoActivity1"></activity>
        <activity
            android:name=".activity.ZoomHeaderActivity"
            android:theme="@style/half_translucent"></activity>
    </application>

</manifest>
